.twitter-follow-button {
	font-size: 40px;

}

.carousel { 
	min-height: 200px;
	background-image: url('images/sky.png.jpg'); 
	background-size: cover; 
	background-attachment: fixed; 
	font-family: 'Montserrat', sans-serif;
	
}

.row {
	text-align: center;
	font-family:'Baloo Paaji', cursive;
}
h1 {
	font-size: 130px;
	color: #ddd;
	padding-top: 100px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 35px;
	color: rgb(255, 255, 102);
	
}
p {
	font-size: 25px;
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.special {
	font-size: 25px;
	color: rgb(204, 0, 204);
}
form {
	color: #ddd;
	text-align: center;
}
navbar-fixed-top {
	background-color: #ddd; 
}
.useful links {
	text-align: center;
}

#mission {
	background-color: rgba(32, 35, 41, 0.9);
	color: #ddd;
	text-align: center;
}
#buzz {
	background-color: white;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
  .op{
    opacity: 0.75;
  }
  .col{
    color: #000000;
  }
  

